
:root{
    --colorT: #FFFFFF;
    --color0: #BFC3BA;
    --color1: #A9ACA9;
    --color2: #60495A;
    --color3: #3F3244;
    --colorB: rgb(255, 255, 255);

}

@font-face {
    font-family: 'Who asks Satan';
    src: url('../fonts/satan/WhoasksSatan.eot');
    src: url('../fonts/satan/WhoasksSatan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/satan/WhoasksSatan.woff2') format('woff2'),
        url('../fonts/satan/WhoasksSatan.woff') format('woff'),
        url('../fonts/satan/WhoasksSatan.ttf') format('truetype'),
        url('../fonts/satan/WhoasksSatan.svg#WhoasksSatan') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

p{
    padding: 1rem;
    background: var(--color0);
    cursor: zoom-in;
    color: var(--colorT);
    overflow: hidden;
}

.progres{
    height: 10px;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--colorB);
    scale: 0 1;
    animation: analitzador linear;
            -o-animation-timeline: scroll;
        -moz-animation-timeline: scroll;
    -webkit-animation-timeline: scroll;
            animation-timeline: scroll();
    transform-origin: left;
}

@keyframes analitzador {
    to {
        scale: 1 1;
    }
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Who asks Satan';
    font-weight: normal;
    font-style: normal;
    color: var(--colorT);
}

@media screen and (max-width: 480px) {

    /* aqui va el disseny per movil */

    body{
        background: var(--color1);
    }

    h1{
        font-size: 1rem;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
    

    /* aqui va el disseny per tablet */

    body{
        background: var(--color2);
    }

    h1{
        font-size: 2rem;
    }
    
}

@media screen and (min-width: 1280px) {
    

        /* aqui va el disseny per ordenador */

        body{
            background: var(--color3);
        }

        h1{
            font-size: 4rem;
        }

        p{
            columns: 2;
        }
        
}